input{
    width: 100%;
    padding: 12px 12px;
    margin: 8px 0;
    box-sizing: border-box;
    
}
.fom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.foms{
    margin: 2em;
}